<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Gallary</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
=======
    <title>Sns</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
>>>>>>> af4017824b688259477c27d0c7e3d0a0d4b38209
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
<<<<<<< HEAD
        <a href="/" class="brand-logo">Gallary</a>
=======
        <a href="/" class="brand-logo">SNS</a>
>>>>>>> af4017824b688259477c27d0c7e3d0a0d4b38209
        <a href="#" data-target="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/posts">Posts</a></li>
          <% if user_signed_in? %>
<<<<<<< HEAD
            <li><a href="/posts/folw">Followers Page</a></li>
            <li><a href="/posts/mypage">MyPage</a></li>
=======
            <li><a href="/posts/mypage">MyPage</a></li>
            <li><a href="/posts/folw">Followers Page</a></li>
>>>>>>> af4017824b688259477c27d0c7e3d0a0d4b38209
            <li><%= current_user.name %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li><a href="/users/sign_in">Sign in</a></li>
            <li><a href="/users/sign_up">Sign up</a></li>
          <% end %>
        </ul>
<<<<<<< HEAD

        <ul class="side-nav" id="mobile-demo">
          <li><a href="/posts">Posts</a></li>
          <li><a href="#">Sign in</a></li>
          <li><a href="#">Sign up</a></li>
        </ul>
    </div>
    </nav>
=======
      </div>
    </nav>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="/posts">Posts</a></li>
      <li><a href="#">Sign in</a></li>
      <li><a href="#">Sign up</a></li>
    </ul>
>>>>>>> af4017824b688259477c27d0c7e3d0a0d4b38209
    <%= yield %>
  </body>
</html>
