<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
    <div class="card col s12">
      <div class="card-content">
        <div class="card-title">수정하기</div>
        <%= form_tag post_path(@post),multipart: true, method: "patch" do %>
            <input type="hidden" name="id" value="<%=@post.id%>">
            
            <div class="input-field">
              <%= file_field_tag :image %><br />
              <p>이미지를 변경하시려면 위에서 다시 선택해주세요.</p>
            </div>
            
            <div class="input-field">
                <%= text_area_tag :content, @post.content, class: "materialize-textarea", placeholder: "무슨생각을 하고 있나요?" %>
            </div>
            
            <div class="input-field">
              <%= button_tag "수정하기" %>
            </div>
        <% end %>
      </div>
    </div>
    </div>
</div>