<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col s12">
            <% @nouserposts.each do |post| %>
                <div class="card">
                <div class="card-content">
                      <span class="card-title" style="font-family: 나눔; font-weight: 540">
                          <% if post.user.avatar %>
                            <img class="circle thumbnail" src="<%= post.user.avatar.thumb.url %>">
                          <% end %><%= post.user.name %></span>
                      <span style="font-family: 나눔"><%= post.created_at %></span>
                   <div class="card-image">
                     <% if post.image.url %>
                       <center><img src="<%= post.image.url %>" style="width: 60%; height: auto;margin-top: 20pt"></center>
                     <% end %>
                   </div><br>
                   <p style="font-size: 14pt; margin-top: 20pt; font-family: 나눔"><%= post.content %></p>
                </div>
            
                <div class="card-action" style="font-family: 나눔">
                    <% if post.comments.present? %>
                      <ul class="collection">
                      <% post.comments.each do |comment| %>
                        <li class="collection-item">
                          <span class="card-title" style="font-size: 15pt; font-family: 나눔"><%= comment.user.name %></span>
                          <span class="right" style="font-family: 나눔"><%= comment.created_at %></span>
                          <p class="pre-line" style="padding: 10px; font-family: 나눔"><%= comment.content %></p>
                        </li>
                      <% end %>
                      </ul>
                    <% end %>
                </div>
                </div>
            <% end %>
            <%= paginate @nouserposts %>
        </div>
    </div>
    
</div>
